body {
    direction: rtl;
}

.graphContainer{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 0px 35px 0px 55px;
}

.ant-btn > .anticon + span, .ant-btn > span + .anticon {
    margin-right: 8px;
}